[Unit]
Description=Jugglr - Linux File Automation & Defense Daemon
Documentation=https://github.com/ZonicExists/Jugglr
After=network.target local-fs.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/jugglr --daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=3s
Environment="RUST_LOG=info"

[Install]
WantedBy=default.target
